.main-first-slide h2 {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  
  .author {
      color: #fff;
      text-align: right;
      display: block;
      font-weight: bold;
  }
.by .what {
    color: #fff;
}
a {
    color:red
}
img.sheme{

    height: 300px;
  
    width: 600px;
  
  }
  img.lego_object {
      height: 400px;
      width: 600px;
  }
  
  pre.fragment {
      font-size:14px;
      text-align:left;
  }

  .key {
    background: linear-gradient(to bottom, #cedbe9 0%,#419ad6 16%,#419ad6 16%,#aac5de 17%,#4bb8f0 39%,#4bb8f0 39%,#6199c7 50%,#3a84c3 51%,#3a8bc2 71%,#26558b 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }

  .includes {
    background: linear-gradient(to bottom, rgba(250,198,149,1) 0%,rgba(239,191,100,1) 32%,rgba(239,141,49,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .red, em {
      color:red;
  }